{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/fadeOut.js') }}"></script>
{% endblock head %}

{% block content %}

<body>
	<main>
		{% for category, message in get_flashed_messages(with_categories=True) %}
		<p class="alert alert-{{category}}" id="alert">{{ message }}</p>
		{% endfor %}
		<header class="image">
			<div style="max-width: 650px;">
				<img src="../static/img/logo-gold.png" alt="Cirillo's Logo" class="home-logo">
			</div>
			<div class="button-container" id="down-button">
				<a href="#featured">
					<svg id="more-arrows">
						<polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 " />
						<polygon class="arrow-middle"
							points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 " />
						<polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 " />
					</svg>
				</a>
			</div>
		</header>
		<div class="cards" id="featured">
			<h1 class="card-title">Popular Items</h1>
			<section class="card-list">
				<article class="card">
					<header class="card-header">
						<img src="../static/img/Jalapeno-Popper-Pizza.jpg" alt="Jalapeno Popper Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Jalapeno Popper</div>
						<div class="author-name">
							Whipped cream cheese, hardwood smoked bacon, roasted jalapenos, cheddar and mozzarella
							cheeses
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/Margherita-Pizza.jpg" alt="Margherita Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Margherita</div>
						<div class="author-name">
							San Marzano tomato, fresh mozzarella, freshly torn basil, extra virgin olive oil
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/Mozz-Triangles.jpeg" alt="Pear Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Mozzarella Triangles</div>
						<div class="author-name">
							Breaded mozzarella fried until crisp, seasoned and served with homemade sauce
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/Pepperoni-Pizza.jpg" alt="Pepperoni Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Pepperoni</div>
						<div class="author-name">
							San Marzano tomato, crispy pepperoni, Romano/parmesan cheese blend
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/Pear-Pizza.jpg" alt="Pear Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Pear</div>
						<div class="author-name">
							Fresh pear, leafy green arugula, goat cheese, balsamic vinegar drizzle
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/Artichoke-Pizza.jpg" alt="Artichoke Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Artichoke</div>
						<div class="author-name">
							Marinated artichoke hearts, sundried tomatoes, mozzarella and pecorino cheeses
						</div>
					</div>
				</article>

				<article class="card">
					<header class="card-header">
						<img src="../static/img/BBQ-Chicken-Pizza.jpg" alt="BBQ Chicken Pizza">
					</header>

					<div class="card-author">
						<div class="author-name-prefix">Barbeque Chicken</div>
						<div class="author-name">
							BBQ sauce, grilled marinated chicken breasts, mozzarella and cheddar cheeses
						</div>
					</div>
				</article>
			</section>
			<div class='container'>
				<ul>
					<li>
						<a class='animated-arrow' href="{{ url_for('main.menu') }}">
							<span class='the-arrow -left'>
								<span class='shaft'></span>
							</span>
							<span class='main'>
								<span class='text'>
									See Full Menu
								</span>
								<span class='the-arrow -right'>
									<span class='shaft'></span>
								</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="mobile-links">
				<a class="effect1 top-mobile-link" href="{{ url_for('main.story') }}"
					style="font-family: 'Merriweather';">
					Our Story
					<span class="bg"></span>
				</a>
				<div style="padding-bottom: 15px;"></div>
				<br>
				<a class="effect1" href="{{ url_for('main.covid') }}" style="font-family: 'Merriweather';">
					COVID-19 Precautions
					<span class="bg"></span>
				</a>
			</div>
			<div class='embedsocial-instagram' data-ref="c445564432341e766b4182f425472bc0464b2d3e"></div>
			<script>(function (d, s, id) { var js; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialInstagramScript"));</script>
		</div>
	</main>
</body>
{% endblock content %}