{% extends "base.html" %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/reset.min.css') }}">
<link rel='stylesheet' href='https://use.typekit.net/qtp1vvq.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css'>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/menu.css') }}">
{% endblock head %}

{% block content %}

<body>
	<div class="container">
		<div class="breakfast--header pb3 bdt bdb bdn-bp3 mb3">
			<aside class="script f3 f4-l dn db-bp2 pt4" style="font-size: 30px;">
				House-made<br>
				Dough & Sauce
			</aside>
			<div class="breakfast--type">
				<h2 class="cubano f2 tracked green pt3 pb2 tc menu-title">Pizza</h2>
				<p class="din ttu tracked tc f6-l">Served fresh</p>
			</div>
		</div>
		<div class="items--container breakfast--container">
			<h3 class="cubano f3 tracked green pt2 pb3 menu-subtitle">Artisan Cheese Pizza</h3>
			<p class="item-description i pt2 pb3" style="margin-bottom: 20px;">8 inch (6.99),<br> 12 inch
				(9.99),<br>
				12 inch gluten free (12.99),<br> 16
				inch
				(13.99)<br>
			</p>
			<ul>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Meat Toppings</h3>
					<p class="item-description">Deli pepperoni, Italian Sausage, Homemade meatballs, Pancetta, Grilled
						marinated chicken, Hardwood smoked bacon</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Other Toppings</h3>
					<p class="item-description">Red onion, Green peppers, Kennet square mushrooms, Jalapeno peppers,
						Roasted
						zucchini, Roasted eggplant, Artichoke hearts, Roasted tomatoes, Fresh torn basil, Brussel
						sprouts,
						Sundried tomatoes</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Cheeses</h3>
					<p class="item-description">Goat cheese, Brie, Romano/parmesan cheese blend</p>
				</li>
			</ul>
			<p class="item-description i pt2 pb3" style="margin-bottom: 20px;">Additional toppings:<br>8 inch (1
				ea.)<br>12
				inch (1.75 ea.)<br>16 inch (2.25 ea.)</p>
			<h3 class="cubano f3 tracked green pt2 menu-subtitle">Artisan Local Favorites</h3>
			<p class="item-description i pt2 pb3" style="margin-bottom: 10px; margin-top: 15px;">8 inch (8.99)<br> 12
				inch
				(14.99)<br> 16
				inch
				(19.99)</p>
			<ul>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Jalapeno Popper</h3>
					<p class="item-description">Whipped cream cheese base, hardwood smoked Bacon, roasted jalapenos,
						cheddar
						and mozzarella cheeses</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Buffalo Chicken</h3>
					<p class="item-description">Buffalo sauce, grilled marinated chicken breasts, mozzarella cheese,
						blue
						cheese crumbles</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Barbeque Chicken</h3>
					<p class="item-description">Barbeque sauce, grilled marinated chicken breasts, mozzarella and
						cheddar
						cheeses</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Southwest Chicken</h3>
					<p class="item-description">Salsa, grilled marinated chicken breasts, red onion, green peppers,
						mozzarella and cheddar cheeses</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Bacon Cheeseburger</h3>
					<p class="item-description">Ketchup, mustard, relish sauce, american cheese slices, hardwood smoked
						bacon, ground beef, red onion, mozzarella and cheddar cheeses</p>
				</li>
			</ul>
			<h3 class="cubano f3 tracked green pt2 menu-subtitle">Artisan Specialty Pizzas</h3>
			<p class="item-description i pt2 pb3" style="margin-bottom: 10px; margin-top: 15px;">8 inch (8.99)<br> 12
				inch
				(14.99)<br> 16
				inch
				(19.99)</p>
			<ul>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Margherita</h3>
					<p class="item-description">Homemade red sauce, mozzarella, fresh basil</p>
					<p class="item-description i">served with a light drizzle of extra virgin olive oil</p>

				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Roasted Vegatable</h3>
					<p class="item-description">Homemade red sauce, roasted zucchini, roasted eggplant, red onions,
						artichoke hearts, mozzarella cheese, fresh basil</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Pickle</h3>
					<p class="item-description">Pickles, hardwood smoked bacon, mozzarella and a romano/parmesan cheese
						blend</p>
					<p class="item-description i">served with a light drizzle of extra virgin olive oil</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Pear</h3>
					<p class="item-description">Fresh pear, leafy green arugula, goat cheese, balsamic vinegar drizzle
					</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Brussel Sprouts</h3>
					<p class="item-description">Marinated roasted brussel sprouts, bacon, red onion, mozzarella, and
						creamy
						brie cheese</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Radicchio</h3>
					<p class="item-description">Marinated radicchio, red caramelized onions, fresh mozzarella, and a
						fresh
						romano/parmesan cheese blend</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Sausage</h3>
					<p class="item-description">Homemade red sauce, mild italian sausage, broccoli rabe, mozzarella, and
						a
						fresh romano/parmesan cheese blend</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Pancetta</h3>
					<p class="item-description">Homemade red sauce, crispy pancetta, roasted eggplant, mozzarella, light
						arugula, fresh basil</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Artichoke</h3>
					<p class="item-description">Marinated artichoke hearts, sundried tomatoes, mozzarella, and a fresh
						romano/parmesan cheese blend</p>
				</li>
			</ul>
		</div>
		<div class="lunch--header pt3 pb3 bdb mb3">
			<div></div>
			<div>
				<h2 class="cubano f2 tracked green pb2 tc menu-title">Extras</h2>
				<p class="din ttu tracked tc f6-l">Other Dishes</p>
			</div>
			<aside class="script f3 f4-l dn db-bp2 pt3 tr" style="font-size: 30px;">
				Served and<br>
				prepared daily
			</aside>
		</div>
		<div class="items--container lunch--container">
			<h3 class="cubano f3 tracked green pt2 menu-subtitle">Sandwiches</h3>
			<p class="item-description i pt2 pb3" style="margin-bottom: 10px;">Pressed and served on a ciabatta roll
				(7.99)
			</p>
			<ul class="sandwich-list">
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Mozzarella</h3>
					<p class="item-description">Fresh mozzarella, roasted tomato, fresh basil pesto</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Tuna</h3>
					<p class="item-description">Italian tuna, roasted tomato, arugula, fresh romano/parmesan cheese
						blend
					</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Chicken</h3>
					<p class="item-description">Marinated grilled chicken, roasted tomato, arugula, fresh mozzarella
						cheese
					</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Pancetta</h3>
					<p class="item-description">Pancetta, roasted tomato, arugula, fresh mozzarella cheese</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Soppressata</h3>
					<p class="item-description">Soppressata, fresh mozzarella, sundried tomatoes, arugula</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Meatball</h3>
					<p class="item-description">Homemade meatballs, homemade red sauce, mozzarella cheese, fresh basil
					</p>
				</li>
			</ul>
			<h3 class="cubano f3 tracked green pt2 pb3 menu-subtitle">Salads</h3>
			<ul>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Arugula and Parmesan <span
							class="price fw4 baskerville">(8.50)</span></h3>
					<p class="item-description">Light and fresh arugula, cherry tomatoes, paremsan cheese, with a
						drizzle of
						balsamic vinegar and fruity olive oil</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Romaine and Radicchio <span
							class="price fw4 baskerville">(8.50)</span></h3>
					<p class="item-description">Leafy romaine and radicchio, cherry tomatoes, hardwood smoked bacon,
						chunks
						of fresh mozzarella cheese</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Mixed Greens <span class="price fw4 baskerville">(8.50)</span></h3>
					<p class="item-description">Mix of arugula, romaine, and radicchio, with sundried tomatoes and goat
						cheese crumbles</p>
				</li>
				<li class="pb3 pt1 measure">
					<h3 class="din ttu tracked f6">Pear <span class="price fw4 baskerville">(9.25)</span></h3>
					<p class="item-description">Mix of arugula, romaine, and radicchio, pears, diced dried cherries, and
						candied walnuts</p>
				</li>
			</ul>
			<div class="providers tc pv3 bdb bdt bdr bdl mt3">
				<span class="cubano f3 mb0 pt3 green" style="font-size: 60px;"
					data-glf-cuid="ad37929d-444b-4547-9300-e14560875aaf"
					data-glf-ruid="c7d603b2-1f78-4509-9c80-fd730560f94b"> Order Online</span>
				<script src="https://www.fbgcdn.com/embedder/js/ewm2.js" defer async></script>
			</div>
		</div>
		<div class="items--container sides">
			<h2 class="cubano f2 green tc pt5 pt2-bp3 menu-subtitle" style="margin-bottom: 15px;">Sides</h2>
			<ul class="sides--container">
				<li class="pb3 measure">
					<p class="item-description dib">French Fries</p>
					<p class="item-description dib">(4)</p>
				</li>
				<li class="pb3 measure">
					<p class="item-description dib">Tater Tots</p>
					<p class="item-description dib">(4)</p>
				</li>
				<li class="pb3 measure">
					<p class="item-description dib">Loaded Tater Tots with Beer Cheese and Hardwood Smoked Bacon</p>
					<p class="item-description dib">(6)</p>
				</li>
				<li class="pb3 measure">
					<p class="item-description dib">Loaded French Fries with Beer Cheese and Hardwood Smoked Bacon</p>
					<p class="item-description dib">(5.75)</p>
				</li>
				<li class="pb3 measure">
					<p class="item-description dib">Mozzarella Triangles with homemade sauce</p>
					<p class="item-description dib">(6.50)</p>
				</li>
				<li class="pb3 measure">
					<p class="item-description dib">Potato Jalapeno Cheddar Bite served with homemade sauce</p>
					<p class="item-description dib">(6)</p>
				</li>
			</ul>
		</div>
	</div>
</body>

{% endblock content %}