{% extends 'base.html' %} {% block head %}
<link
	rel="stylesheet"
	type="text/css"
	href="{{ url_for('static', filename='styles/sitemap.css') }}"
/>

{% endblock %} {% block content %}

<body>
	<main>
		<div class="header">
			<h1>Sitemap</h1>
		</div>
		<div class="map-list-container">
			<ul class="map-list">
				<li><a href="{{ url_for('main.home') }}">Home</a></li>
				<li><a href="{{ url_for('main.menu') }}">Menu</a></li>
				<li><a href="{{ url_for('main.story') }}">Story</a></li>
				<li><a href="{{ url_for('main.covid') }}">COVID-19 Procedures</a></li>
				<li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
				<li><a href="{{ url_for('main.privacy') }}">Privacy Policy</a></li>
				<li><a href="{{ url_for('main.sitemap') }}">Site Map</a></li>
			</ul>
		</div>
	</main>
</body>
{% endblock %}
