{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/story.css') }}">
{% endblock %}

{% block content %}

<body>
	<main>
		<section class="block-content t-block-teal l-block-spacing">
			<div class="l-contained">
				<header class="heading-group">
					<h2>The Story of Cirillo's</h2>
					<p class="subtitle" style="margin-top: 30px;">
						& Bob Marsereau
					</p>
				</header>
				<ul class="timeline-list">
					<li>
						<div class="content">
							<h3>A timeline?</h3>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quam felis, rutrum nec enim
								non, sodales facilisis purus. Vestibulum viverra egestas ipsum eget commodo. Nullam
								aliquet lorem vitae nulla dictum vestibulum sed quis tellus. Sed diam diam, facilisis
								tincidunt volutpat nec, auctor quis magna. Proin sed nunc iaculis ipsum scelerisque
								tincidunt. Cras eleifend leo tellus, fermentum finibus tortor fringilla eu.
							</p>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>A railway map?</h3>

							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quam felis, rutrum nec enim
								non, sodales facilisis purus. Vestibulum viverra egestas ipsum eget commodo. Nullam
								aliquet lorem vitae nulla dictum vestibulum sed quis tellus. Sed diam diam, facilisis
								tincidunt volutpat nec, auctor quis magna. Proin sed nunc iaculis ipsum scelerisque
								tincidunt. Cras eleifend leo tellus, fermentum finibus tortor fringilla eu.
							</p>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>Random dots?</h3>


							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quam felis, rutrum nec enim
								non, sodales facilisis purus. Vestibulum viverra egestas ipsum eget commodo. Nullam
								aliquet lorem vitae nulla dictum vestibulum sed quis tellus. Sed diam diam, facilisis
								tincidunt volutpat nec, auctor quis magna. Proin sed nunc iaculis ipsum scelerisque
								tincidunt. Cras eleifend leo tellus, fermentum finibus tortor fringilla eu.
							</p>
						</div>
					</li>



					<li>
						<div class="content">
							<h3>Absolutely nothing.</h3>


							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quam felis, rutrum nec enim
								non, sodales facilisis purus. Vestibulum viverra egestas ipsum eget commodo. Nullam
								aliquet lorem vitae nulla dictum vestibulum sed quis tellus. Sed diam diam, facilisis
								tincidunt volutpat nec, auctor quis magna. Proin sed nunc iaculis ipsum scelerisque
								tincidunt. Cras eleifend leo tellus, fermentum finibus tortor fringilla eu.
							</p>
						</div>
					</li>
				</ul>



			</div>

		</section>
	</main>
</body>
{% endblock %}