{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/story.css') }}">
{% endblock %}

{% block content %}

<body>
	<main>
		<section class="block-content t-block-teal l-block-spacing">
			<div class="l-contained">
				<header class="heading-group">
					<h2>The Story of Cirillo's</h2>
					<p class="subtitle" style="margin-top: 30px;">
						& Bob Mersereau
					</p>
				</header>
				<ul class="timeline-list">
					<li>
						<div class="content">
							<h3>Leaving a legacy.</h3>

							<p>
								Cirillos was born from my love of cooking and family. My father, Robert Mersereau
								Sr., was born in 1942 and grew up in Catholic orphanages in Philadelphia. At the age of
								12 he was adopted by the Mersereau Family and grew up in and around the Philadelphia
								area. Curious about who his real mother was and her story, he searched for her all his
								life and finally found her to only learn she had sadly passed away only six months
								prior. Her name was Josephine Cirillo.
							</p>
							<div class="container">
								<div class="container__image image__josephine">
									<div class="container__info container__author">Photo of<br>Josephine</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>West Chester is home.</h3>

							<p>
								To honor Josephine and my father, I opened an artisan pizza restaurant where family is
								celebrated daily! On the corner of West Market and New Street in the Borough of West
								Chester sits Cirillo's Artisan Pizza where you can catch Josephine’s great
								grandsons and I waiting on folks with a smile. I grew up in West Chester and love this
								town as it feels like home to me. I attended St. Agnes Elementary School and Bishop
								Shanahan High School when it was in the borough.
							</p>
							<div class="container">
								<div class="container__image image__cirillos">
									<div class="container__info container__author">Photo of<br>Cirillo's</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="content">
							<h3>Why dough?</h3>

							<p>
								For as long as I remember I loved making pizza, especially for my family. This
								passion has led me to change direction at this location and return to my roots making
								Artisan pizzas by hand. Creating layers of flavor that comes from a mix of unique fresh
								ingredients is my passion and I am excited to share it with you! So stop in, there
								is always something cooking and we’re here waiting for you and your family!
							</p>
							<div class="container">
								<div class="container__image image__bob">
									<div class="container__info container__author">Photo of Bob<br>Mersereau</div>
								</div>
							</div>
						</div>
					</li>
					<h3 class="signature">Robert Mersereau Jr.</h3>
				</ul>
			</div>
		</section>
	</main>
</body>
{% endblock %}