/* Contact form */

body {
	font-size: 100%;
	line-height: 1.6;
  }

main {
	border-top: 10px solid #293546;
}

.form-container {
	width: 50%;
	margin: 0 auto;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
	justify-content: center;
	align-items: center;
}

.form-title {
	text-align: center;
	font-size: 4em;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #293546;
}

form label {
	font-size: 1em;
	display: block;
	font-family: 'Merriweather', sans-serif;
	color: #293546;
}
  
  /* Message flashing */
.flash {
	background-color: #FBB0B0;
	padding: 10px;
	width: 400px;
  }

  .contact-us {
	background: #faf7eb;
	padding: 50px 100px;
  }
  
  label, .text-input, textarea {
	display: block;
	width: 100%;
	font-size: 12pt;
	line-height: 24pt;
	font-family: 'Merriweather', sans-serif;
  }
  
  .text-input {
	margin-bottom: 24pt;
  }
  
  .textarea-input {
	  margin-bottom: 0;
	  height: 150px;
  }

  .input-info-text {
	  margin-bottom: 24pt;
  }

  h3 {
	font-weight: normal;
	font-size: 10pt;
	line-height: 24pt;
	font-style: italic;
	margin: 0 0 0.5em 0;
	font-family: 'Merriweather', sans-serif;
	color: #293546;
  }
  
  span {
	font-size: 8pt;
	font-family: 'Merriweather', sans-serif;
  }
  
  input, textarea {
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: #f8f7f3;
	padding-left: 5px;
	outline: none;
  }
  
  input:focus, textarea:focus {
	border: 1px solid #36465c;
  }
  
  textarea {
	resize: none;
  }
  
  .submit-button {
	display: block;
	float: right;
	line-height: 24pt;
	padding: 0 20px;
	border: none;
	background: #36465c;
	color: white;
	letter-spacing: 2px;
	transition: 0.2s all ease-in-out;
	border-bottom: 2px solid transparent;
	outline: none;
	cursor: pointer;
	font-family: 'Merriweather', sans-serif;
  }
  .submit-button:hover {
	background: inherit;
	color: #36465c;
	border-bottom: 2px solid #36465c;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
	border: 1px solid #36465c;
	-webkit-text-fill-color: #2A293E;
	box-shadow: 0 0 0px 1000px #f8f4e5 inset;
	-webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
	transition: background-color 5000s ease-in-out 0s;
  }

@media only screen and (max-width: 1000px) {
	main {
		margin: 0;
	}

	.form-container {
		width: 75%;
	}

	.contact-us {
		padding: 25px 50px;
	}
}