@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,900);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', sans-serif;
}

*:before, *:after {
	box-sizing: border-box;
  }

:root {
	font-size: 16px;
	--text-primary: #d6d6d6;
	--text-secondary: #ececec;
	--bg-primary: #36465c;
	--bg-secondary: #293546;
	--transition-speed: 600ms;
}

@font-face {font-family: "Lucky Fellas";
	src: url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.eot"); /* IE9*/
	src: url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.woff2") format("woff2"), /* chrome、firefox */
	url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.woff") format("woff"), /* chrome、firefox */
	url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/ab0c3618181cbbaaa8ef2c15fb8e3e25.svg#Lucky Fellas W00 Regular") format("svg"); /* iOS 4.1- */
}

html {
	scroll-behavior: smooth;
}

body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

main {
	margin-left: 21rem;
	background-color: #faf7eb;
}

a {
	text-decoration: none;
}

.navbar {
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease;
	overflow: auto;
	z-index: 1;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	transition: var(--transition-speed);
	cursor: pointer;
}

.nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.link-text {
	display: none;
	text-align: center;
	width: 100%;
}

.nav-item .nav-link i {
	font-size: 2rem;
}

.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}

.nav-logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch;
	width: 100%;
}

.logo-text {
	display: inline;
	font-family: 'Lucky Fellas';
	color: #e0bc64;
	position: absolute;
	left: -999px;
	transition: var(--transition-speed);
}

.footer {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 30px 20px 30px;
	color: #2f2f2f;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
	flex:  1 100%;
  }
  
  .footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
  }
  
  .footer__logo {
	font-weight: 400;
	font-size: 1.25rem;
  }
  
  .footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
  }
  
  .nav__title {
	font-weight: 400;
	font-size: 15px;
  }
  
  .footer address {
	font-style: normal;
	font-size: 14px;
	color: #999;
  }

  .footer address a {
	  text-decoration: none;
	  color: #999;
  }
  
  .footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	max-width: max-content;
	background-color: rgb(33, 33, 33, 0.07);
	border-radius: 100px;
	color: #2f2f2f;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 0.7rem;
	padding: 0 1.3em;
	margin-top: 1rem;
  }
  
  .footer ul {
	list-style: none;
	padding-left: 0;
  }
  
  .footer li {
	line-height: 2em;
	font-size: 12px;
  }
  
  .footer a {
	text-decoration: none;
  }
  
  .footer__nav {
	display: flex;
	  flex-flow: row wrap;
  }
  
  .footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
  }
  
  .nav__ul a {
	color: #999;
  }
  
  .nav__ul--extra {
	column-count: 2;
	column-gap: 1.25em;
  }
  
  .legal {
	display: flex;
	flex-wrap: wrap;
	color: #999;
  }
	
  .legal p {
	  font-size: 12px;
  }

  .legal__links {
	display: flex;
	align-items: center;
  }
  
  .heart {
	color: #2f2f2f;
  }
  
.fa-shopping-bag {
	background: #526b8d;
	border-radius: 50%;
	padding: 10px;
}

  @media screen and (min-width: 24.375em) {
	.legal .legal__links {
	  margin-left: auto;
	}
  }
  
  @media screen and (min-width: 40.375em) {
	.footer__nav > * {
	  flex: 1;
	}
	
	.nav__item--extra {
	  flex-grow: 2;
	}
	
	.footer__addr {
	  flex: 1 0px;
	}
	
	.footer__nav {
	  flex: 2 0px;
	}
  }

  /* Small screens */
  @media only screen and (max-width: 1000px) {
	.navbar {
	  bottom: 0;
	  width: 100vw;
	  height: 5rem;
	}
	
	.footer {
		margin-left: 0;
		margin-bottom: 5rem;
	}

	.fas::before {
		display: visible;
	}

	.nav-item-desktop {
		display: none;
	}

	.nav-logo {
	  display: none;
	}
  
	.navbar-nav {
	  flex-direction: row;
	}
  
	.nav-link {
	  justify-content: center;
	}
  
	.info-text {
		display: none;
	}

	.line {
		display: none;
	}

	.dropdown-text {
		display: none;
	}
	
	.dropdown-content {
		display: block;
		width: 150%;
	}

	.mobile-home {
		width: 50%;
	}

	.menu-button {
		width: 50%;
	}

	.nav-contact {
		width: 75%;
		margin-left: 15%;
	}

	.online-icons {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}

	.delivery-image, .gloria {
		display: inline;
	}

	.delivery-image {
		margin-top: 5px;
	}
  }
  
  /* Large screens */
  @media only screen and (min-width: 1001px) {
	.navbar {
	  top: 0;
	  width: 21rem;
	  height: 100vh;
	  border: 3px red;
	}
	
	.footer {
		margin-left: 21rem;
	}

	.nav-item-mobile {
		display: none;
	}

	i:not(.fa-chevron-down):not(.fa-facebook):not(.fa-instagram):not(.fa-yelp):not(.fa-shopping-bag) {
		display: none;
	}

	.dropdown-text {
		padding-left: 8px;
	}

	.fa-chevron-down {
		font-size: 16px !important;
	}

	.navbar .link-text {
	  display: inline;
	  font-size: 1.25rem;
	}
	
	.nav-link:not(.logo-link) {
		height: 4rem;
	}

	.logo-link {
		height: 8rem;
	}

	.navbar .logo-text {
	  left: 0px;
	  font-size: 70px;
	  color: #e0bc64;
	}

	.info-text {
		color: var(--text-primary);
		text-decoration: none;
		transition: var(--transition-speed);
		font-size: 1rem;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
	}

	.info-text-last {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.info-text:not(.info-text-last) {
		margin-top: 10px;
	}

	.first-nav-item {
		margin-top: 30%;
	}

	.line {
		width: 80%;
	}

	.dropdown-list {
		flex-direction: row;
		flex-wrap: wrap;
		display: flex;
	}

	.dropdown-list li {
		flex: 1 0 33%;
	}

	.dropdown-content {
		display: none;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
	}

	.online-icons {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top: 10px;
	}
  }