@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
body {
  font-size: 100%;
  line-height: 1.6;
}

main {
	border-top: 10px solid #293546;
	/* display: flex; */
}

/* main section {
	flex: 0 0 75%;
} */

.block-content {
  min-height: 100vh;
}

block-content p {
  font-size: 1.1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 1em auto;
}

.block-content h2 {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.02em;
}
@media all and (min-width: 40em) {
  .block-content h2 {
    font-size: 4.75em;
  }
}

.subtitle {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.heading-group {
  margin: 0 0 3em 0;
}

.content h3 {
  font-size: 1.2em;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
}
@media all and (min-width: 40em) {
  .content h3 {
    font-size: 2.5em;
  }
}

h1, h2, h3 {
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
}

p {
  font-family: "Merriweather", sans-serif;
  line-height: 1.5;
}

.l-block-spacing {
  min-height: 80vh;
  padding: 2em 0 4em 0;
}

.l-contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
@media all and (min-width: 40em) {
  .l-contained {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.timeline-list {
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  list-style: none;
}
.timeline-list:before {
  content: "";
  border-left: 5px solid rgb(70, 96, 133);
  left: -0.25em;
  top: 2em;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: scaleVertical 3s 1s ease both 1;
          animation: scaleVertical 3s 1s ease both 1;
}
.timeline-list:after {
  content: "";
  clear: both;
  position: absolute;
  bottom: 0px;
  left: -0.72rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #293546;
  border: 5px solid #293546;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: revealScaleUp 0.75s 2.82s ease both 1;
          animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.t-block-teal {
  background: #faf7eb;
}

.t-block-teal h2 {
  color: #293546;
}

.t-block-teal h3 {
  color: #293546;
}

.t-block-teal p {
  color: #293546;
}

.timeline-list li {
  margin: 0 0 3em 0;
  padding: 0 2em 0em 2em;
  position: relative;
}

.timeline-list li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1.35rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #faf7eb;
  border: 5px solid #293546;
  -webkit-animation: revealScaleUp 0.75s 0s ease both 1;
          animation: revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list {
  -webkit-animation: reveal 2s 0 ease both 1;
          animation: reveal 2s 0 ease both 1;
}

.timeline-list li .content {
  -webkit-animation: revealFromLeft 0.5s 0s ease both 1;
          animation: revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.timeline-list li:nth-child(1) .content {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.timeline-list li:nth-child(2):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.timeline-list li:nth-child(2) .content {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.timeline-list li:nth-child(3):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.timeline-list li:nth-child(3) .content {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.timeline-list li:nth-child(4):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(4) .content {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.signature {
	font-family: 'Mr De Haviland', cursive;
	font-size: 55px;
	margin-left: 42px;
	margin-top: -50px;
	-webkit-animation: revealFromLeft 0.7s 2.5s ease both 1;
    animation: revealFromLeft 0.5s 2.7s ease both 1;
}









.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
  }
  .container__image {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	background-size: cover;
	transition: ease-in-out .3s;
	z-index: 2;
  }

  .image__josephine {
	  background-image: url(../img/Josephine.jpeg);
  }

  .image__bob {
	  background-image: url(../img/Bob.jpeg);
  }

  .image__cirillos {
	  background-image: url(../img/outdoors.jpeg);
  }

  .container__image:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: inherit;
	background-position: bottom;
	transform: scaleX(0.4);
	transition: ease-in-out .4s;
	border-radius: 120px;
	transform-origin: right;
	opacity: 0;
	z-index: -1;
  }
  .container__image .container__info {
	position: relative;
	line-height: 1.8;
	transition: ease-in-out .3s;
	opacity: 0;
  }
  .container__image .container__location {
	transition-delay: .15s;
  }
  .container__image:hover {
	border-radius: 0;
	width: 310px;
	height: 413px;
	max-width: 100%;
  }

  .container__image:hover .container__info {
	transform: translate3d(-40%, 0px, 0px);
	opacity: 1;
	color: #293546;
	font-size: 1.1em;
  }
  


















@-webkit-keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 1000px) {
	main {
		margin: 0;
	}
}

@media only screen and (max-width: 650px) {
	.l-contained {
		padding-left: 2em;
	}
}

@media only screen and (max-width: 600px) {
	.container__image:hover .container__info {
		opacity: 0;
	}

	.signature {
		font-size: 45px;
		margin-top: 50px;
	}
}