{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock head %}

{% block content %}
<header class="image">
	<h1></h1>
	<p></p>
	<a href="#" class="button"></a>
</header>
<div class="see-button">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error dolor temporibus porro incidunt excepturi
		quia
		deleniti, perferendis minus voluptates animi dolorum veritatis aperiam laudantium, a eius molestiae,
		reiciendis
		rem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error dolor temporibus porro incidunt excepturi
		quia
		deleniti, perferendis minus voluptates animi dolorum veritatis aperiam laudantium, a eius molestiae,
		reiciendis
		rem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error dolor temporibus porro incidunt excepturi
		quia
		deleniti, perferendis minus voluptates animi dolorum veritatis aperiam laudantium, a eius molestiae,
		reiciendis
		rem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error dolor temporibus porro incidunt excepturi
		quia
		deleniti, perferendis minus voluptates animi dolorum veritatis aperiam laudantium, a eius molestiae,
		reiciendis
		rem.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad error dolor temporibus porro incidunt excepturi
		quia
		deleniti, perferendis minus voluptates animi dolorum veritatis aperiam laudantium, a eius molestiae,
		reiciendis
		rem.</p>
</div>
{% endblock content %}