* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	background-image: url(../img/pizza.jpg);
	background-size:cover;
	background-position:center;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	padding:0 20px;
}