* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	background-image: url(../img/pizza.jpg);
	background-size:cover;
	background-position:center;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	position: relative;
}

.button-container {
	position: absolute;
	bottom: 10px;
}

.arrow-text {
	font-family: 'Lucky Fellas', sans-serif;
	color: #fff;
	/* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
	font-size: 50px;
}

#more-arrows {
	 width: 75px;
	 height: 65px;
}
 #more-arrows:hover polygon {
	 fill: #fff;
	 transition: all 0.2s ease-out;
}
 #more-arrows:hover polygon.arrow-bottom {
	 transform: translateY(-18px);
}
 #more-arrows:hover polygon.arrow-top {
	 transform: translateY(18px);
}
 polygon {
	 fill: #fff;
	 transition: all 0.2s ease-out;
}
 polygon.arrow-middle {
	 opacity: 0.75;
}
 polygon.arrow-top {
	 opacity: 0.5;
}

.cards {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
	.button-container {
		bottom: 100px;
	}
}